.todo-item {
    display: flex;
    align-items: center;
  }
  
  .todo-text {
    margin-right: 2em;
    cursor: pointer;
  }
  
  .remove-btn {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: red;
    cursor: pointer;
  }
  
  .remove-btn:focus {
    outline: none;
  }
  